@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sacramento&family=Sriracha&display=swap');

.passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 3em;
  }
  
header {
    background-color: black;
    text-align: center;
    margin: -70px -35px 0px -35px;
    font-size: xx-large;
}

header h1 {
    margin-bottom: 0px;
    padding: 40px 20px 15px 20px;
}

div {
    background-color: black;
    margin: -8px;
    text-align: center;
}

div p {
    font-family: "Passion One";
    color: white;
    margin: 0px;
    padding-bottom: 50px;
    font-size: x-large;
}

div a {
    text-decoration: none;
    color: white;
    background-color: black;
}

div a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
}

main > p {
    font-family: "Sriracha";
    line-height: 1.8em;
    font-size: xx-large;
    padding: 50px 0px 0px 30px;
}

main img {
    width: 500px;
    height: 400px;
}