@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sacramento&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: 'Passion One', 'cursive';
    --font2: 'Sriracha', 'cursive';
    --font3: Verdana, Geneva, Tahoma, sans-serif;
}
  
header {
    background-color: black;
    text-align: center;
    margin: -50px -8px 0px -35px;
    font-size: 240%;
    padding-top: 10px;
}

header h1 {
    font-family: var(--font1);
    margin-bottom: 0px;
    padding: 40px 20px 15px 20px;
    color: white;
}

nav {
    background-color: black;
    margin: 0px -8px 0px -10px;
    text-align: center;
}

nav p {
    font-family: sans-serif;
    color: white;
    margin: 0px;
    padding-bottom: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 120%;
    font-weight: 550;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
}

main p {
    font-family: var(--font2);
    line-height: 2em;
    font-size: 220%;
    padding: 50px 0px 70px 20px;
    font-style: normal;
}

.texto1 {
    color: white;
    box-shadow: inset 6px 6px 8px rgba(0, 0, 0, 0.466);
    padding: 50px 50px 50px 10px;
    margin: 0px -8px 0px -10px;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    background-image: url(imagens/background001.jpg);
}

.texto2 {
    color: white;
    box-shadow: inset 6px 6px 8px rgba(0, 0, 0, 0.466);
    padding: 50px 50px 50px 10px;
    margin: 0px -8px 0px -10px;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    background-image: url(imagens/background002.jpg);
}

.p {
    background-color: rgba(0, 0, 0, 0.322);
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}

footer {
    font-family: var(--font3);
    text-align: center;
    background-color: black;
    margin: 0px -8px -10px -8px;
    padding: 10px 0px 10px 0px;
    font-size: medium;
}

footer p {
    color: white;
    margin: 0px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}

footer a:hover {
    text-decoration: underline;
}