@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #E3E3E1;
}

header {
    background-color: #828282;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header > h1 {
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.459);
    align-content: center;
    flex: 0 0 200px;
}

nav {
    margin: 10px 10px 10px 0px;
    align-content: center;
    display: flex;
    flex-flow: row wrap;
}

nav a {
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;


}

nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {

    background-color: white;
    margin: auto;
    margin-top: 10px;
    width: 95vw;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.466);
}



article {
    padding: 10px;
}